nav {
    background-color: #312D2A;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    padding: 1rem 0
}

nav li {
    list-style-type: none;
    padding: 0 2rem;
}


/*              RESPONSIVE MENU             */



.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}




a {
    color: white;
    text-decoration: none;
    font-family: "Itim", serif;
}

.bouton {
    background-color: #866D83;
    margin-right: auto;
    width: fit-content;
    padding: 0.5rem 4rem;
    border-radius: 5px;
    margin-top: 1.5rem;

}

.title {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ffffff;
    color: rgba(0, 255, 255, 0);
    text-transform: uppercase;
    font-size: 100px;
    padding-top: 20rem;
}

h1 {
    font-family: "Caprasimo", serif;
    font-size: 80px;
    margin-left: 5rem;
    color: white;

}

h2 {
    padding-bottom: 2rem;
    font-family: "Caprasimo", serif;
    font-size: 30px;
}

p {
    line-height: 30px;
    font-family: "Itim", serif;
    font-size: 18px;
}

body {
    background-color: #F2EEDD;
}

header {
    background-image: url(banniere_accueil_pc.png);
    background-size: cover;
}

.info {
    padding-top: 8rem;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 2rem;
    padding-left: 5rem;
}

.info p {
    border-bottom: rgb(255, 255, 255) 3px solid;
    padding-bottom: 0.5rem;
}

.presentation {
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem;
}

.texte_presentation {
    padding-right: 2rem;
    margin-right: 5rem;
}

.image_presentation {
    width: 80%;
}

.image_presentation img {
    display: block;
    width: 100%;
    height: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-top: 1.5rem;
    width: 50%;
}

.icons img {
    width: 25%;
}

.projets {
    display: flex;
    padding: 5rem;
    background-color: #FCF9EE;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.texte_projets p {
    padding-top: 1rem;
}

.texte_projets {
    margin-bottom: auto;
    padding-left: 5rem;
    margin-left: 2rem;
    width: 50%;
}


.minia img {
    display: block;
    padding-bottom: 1rem;
    margin: auto;
    height: auto;
    width: 60%
}

.competences {
    display: flex;
    padding: 5rem;
}

.texte_competences {
    padding-right: 5rem;
}

.texte_competences p {
    padding-top: 1rem;
}

.image_competences {
    width: 100%;
}

.image_competences img {
    display: block;
    width: 100%;
    height: auto;
}

.texte_competences li {
    font-family: "Itim", serif;
    line-height: 30px;
    list-style-type: circle;
    margin-left: 2rem;
}

.ul_competences {
    display: flex;
    padding-top: 1rem;
}

.rapport_numerique {
    background-color: #FCF9EE;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5rem;
    padding: 5rem
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
    color: white;
    align-items: end;
    padding-bottom: 1rem;
}

.card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    padding: 0 12px;
    text-align: center;
    padding-bottom: 1rem;

}

.flex-card {
    display: flex;
    justify-content: space-around;
}

.card1 {
    background: rgb(55, 81, 100);
    background: linear-gradient(0deg, rgba(55, 81, 100, 1) 0%, rgba(149, 190, 219, 1) 100%);
}

.card2 {
    background: rgb(51, 79, 72);
    background: linear-gradient(0deg, rgba(51, 79, 72, 1) 0%, rgba(193, 255, 241, 1) 100%);
}

.card3 {
    background: rgb(43, 85, 47);
    background: linear-gradient(0deg, rgba(43, 85, 47, 1) 0%, rgba(160, 212, 166, 1) 100%);
}

.card4 {
    background: rgb(125, 103, 28);
    background: linear-gradient(0deg, rgba(125, 103, 28, 1) 0%, rgba(229, 227, 197, 1) 100%);
}

.card5 {
    background: rgb(193, 93, 30);
    background: linear-gradient(0deg, rgba(193, 93, 30, 1) 0%, rgba(252, 216, 193, 1) 100%);
}

.art {

    display: flex;
    padding: 5rem;
    justify-content: center;
}

.art img {
    display: block;
    width: 30%;
    height: auto;
}

.texte_art {
    width: 30%;
    padding-left: 5rem;
}

footer p {
    font-size: 50px;
    background-color: #866D83;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: rgba(0, 255, 255, 0);
    padding: 3rem 0;
    text-align: center;

}

/*                    PROJETS                           */


.gallery-item img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-item {
    margin: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: transparent;
}

.texte_gallery {
    opacity: 0;
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texte_gallery h2 {
    font-family: "Itim", serif;
    font-size: 50px;
}

.texte_gallery p {
    font-family: "Itim", serif;
    font-size: 40px;
}

.gallery-item:hover {
    filter: grayscale(90%);

    .texte_gallery {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;

    }
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    position: relative;
}

.box img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    border-radius: 10px;
}

.box img:hover {
    transform: scale(1.05);

}

.projet_titre {
    padding-bottom: 5rem;
}


.box_projet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    padding: 10px;
    position: relative;
}

.affiche{
    padding: 2rem 25%;
    justify-content: center;
}

.box_projet img {
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.75) 2px 10px 20px;
}

.suivant{
    padding-top: 0;
    font-size: 35px;
}

@media (min-width: 1650px) {

    .presentation,
    .competences {
        padding: 5rem 10%;
    }

    .image_presentation {
        width: 60%;
    }

    .image_competences {
        max-width: max-content;
    }

    .texte_competences {
        padding-right: 10rem;
    }
}


@media (max-width: 1280px) {
    .card {
        width: 150px;
        height: 200px;
    }

    .minia img {
        width: 100%;
    }

    .texte_competences {

        padding-right: 0;
        width: 100%;
    }

    .minia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_competences {
        width: 80%;
        padding-left: 2rem;
        display: flex;
        align-items: center;
    }

    .art {
        padding: 4rem 0 4rem 0;
    }

    .image_presentation {
        width: 70%;
    }

    .gallery-item img {
        height: 16rem;
    }

    .texte_presentation {
        margin-right: 0.5rem;
        width: 100%;
    }
}

@media (max-width: 960px) {
    .texte_presentation {
        width: 70%;
    }

    .presentation .bouton {
        text-align: center;
    }

    .texte_projets {
        padding-left: 0;
        padding-top: 2rem;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .projets .bouton {
        margin: 2rem auto 0 auto;
    }

    .projets {
        flex-direction: column;
    }

    .minia {
        flex-direction: row;
    }

    .minia img {
        width: 45%;
        justify-content: center;
    }

    .competences {
        flex-direction: column;
        position: relative;
    }

    .image_competences {
        width: 23%;
        position: absolute;
        bottom: 0;
        right: 50px;
    }

    .flex-card {
        display: grid;
        grid-template-columns: 20% 20% 20%;
    }

    .card {
        margin-bottom: 3rem;
    }

    .art img {
        width: 50%;
    }

    .gallery-item img {
        height: 12rem;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 50px
    }

    .title {
        -webkit-text-stroke-width: 1px;
        font-size: 60px;
    }

    .info {
        width: 80%;
    }

    .presentation {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .texte_presentation {
        padding-top: 2rem;
        padding-right: 0;
    }

    .icons {
        text-align: center;
        margin: auto;
        padding-right: 0;

    }

    .art {
        flex-direction: column;
        width: 80%;
        text-align: center;
        margin: auto;
        padding-top: 3rem;

    }

    .texte_art {
        width: 100%;
        padding-top: 2rem;
        padding-left: 0;
        text-align: center;
    }

    .art img {
        width: 100%;
    }

    .art .bouton {
        margin: 2rem auto 0 auto;
    }

    .flex-card {
        grid-template-columns: 100%;

    }

    .card {
        margin-bottom: 3rem;
        width: 100%;
        height: 100px;
        margin: auto;
        margin-bottom: 2rem;
    }

    footer p {
        font-size: 30px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-item img {
        height: 20rem;
    }

    .topnav a {
        display: none;
    }

    .topnav a:first-child {
        padding-top: 4rem;
    }

    .topnav a.icon {
        float: left;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

@media screen and (max-width: 530px) {

    h1,
    .title {
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .info {
        flex-direction: column;
        padding-left: 0;
        text-align: center;
        width: 100%;
        padding-top: 3rem;
    }

    .info p {
        border-bottom: white solid 0px;
    }

    .presentation {
        margin: 0;
    }

    .presentation,
    .projets,
    .competences,
    .rapport_numerique {
        padding: 1rem;
        margin: 2rem 0;
    }

    .ul_competences {
        flex-direction: column;
        font-size: 14px;
    }

    .image_competences {
        bottom: 100px;
        width: 35%;
        padding-left: 0;
    }

    .gallery-item img {
        height: 12rem;
    }

    .info p{
        display: none;
    }
}